$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

html {
  font-size: 12pt;
}

.header h3 {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.login-form input, .deck-form input {
  width: 300px;
  margin-bottom: 4px;
}

.input-fields {
  margin-bottom: 15px;
}

.deck-form {
}

ul.deck-list {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
}

ul.deck-list li {
  position: relative;
  padding: 10px 5px;
  margin: 0;
  font-size: 125%;
  border-bottom: solid 1px #DDD;
}

ul.deck-list li h3 {
  font-size: 110%;
  margin-top: 10px;
}

ul.deck-list li p {
  font-size: 90%;
  color: #888;
}

ul.deck-list li:first-child {
  border-top: solid 1px #DDD;
}

.slide {
  display: none;
}

.visible {
  display: block;
}
