<div class='form-container'>
  <ul class='deck-list'>
    <li ng-repeat='deck in decks'>
    <h3>{{deck.title}}</h3>
    <p>{{deck.synopsis}}</p>
   </li>
  </ul>
  <button class='btn btn-default' bs-modal="modal" data-content-template='new-deck.html' data-title='New Deck'>Create a new Slide Deck</button>
</div>
<script type='text/ng-template' id='new-deck.html'>
  <form ng-submit='createDeck()' class='deck-form'>
    <div class='input-fields'>
      <input type='name' class='form-control deck-title' placeholder='Enter a title' autofocus ng-model='newDeck.title'/>
      <textarea type='synopsis' class='form-control deck-synopsis' placeholder='Enter a synopsis' autofocus ng-model='newDeck.synopsis'/>
    </div>
    <button type='submit' class='btn btn-success' ng-click='$hide()'>Create</button>
    <button type='button' class='btn btn-default' ng-click='$hide()'>Cancel</button>
  </form>
</script>
